.simple-folio *{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.simple-folio{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    overflow: hidden;
}
.simple-folio .sf-controls{
    text-align: center;
    margin-bottom: 10px;
}
.simple-folio .sf-button{
    font-size: 12px;
    background: transparent;
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
    padding: 10px 30px;
    margin: 0 7px 15px 7px;
    outline: none;
}
.simple-folio .sf-button:hover,
.simple-folio .sf-button:focus,
.simple-folio .sf-button:visited,
.simple-folio .sf-button.active{
    color: #fff;
    border: 1px solid #00adef;
    background-color: #00adef;
}
.simple-folio .sf-container{
    text-align: justify;
    font-size: 0;
    -webkit-backface-visibility: hidden;
}
.simple-folio .sf-container:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.simple-folio .sf-container .sf-mix,
.simple-folio .sf-container .sf-gap{
    display: inline-block;
    width: 50%;
    position: relative;
}
.simple-folio .sf-container .sf-mix{
    background: #03899c;
    display: none;
}
.simple-folio .sf-details {
    margin: 0;
    padding: 0;
}
.simple-folio .sf-details img{
    width: 100%;
    height: 100%;
}
.simple-folio .sf-container .sf-mix .sf-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100%;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    width: 100%;
}
.simple-folio .sf-container .sf-overlay .sf-icons a{
    box-shadow: none;
    color: #fff;
    font-size: 30px;
    left: 45%;
    position: absolute;
    opacity: 0;
    top: 0%;
    outline:none;
    display: block;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.simple-folio .sf-container .sf-mix:hover .sf-overlay a{
    opacity: 1;
    top: 50%;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
.simple-folio .sf-container .sf-overlay .sf-icons a i{
    font-family: 'FontAwesome';
}
.simple-folio .sf-container .sf-mix.active .sf-overlay,
.simple-folio .sf-container .sf-mix:hover .sf-overlay {
    opacity: 1;
}
.simple-folio .sf-container .sf-mix{
    margin: 0.815%;
}
.simple-folio .sf-container .sf-mix,
.simple-folio .sf-container .sf-gap{
    width: 23.37%;
}
@media (max-width: 980px){
    .simple-folio .sf-container .sf-mix{
        margin: 1.63%;
    }
    .simple-folio .sf-container .sf-mix,
    .simple-folio .sf-container .sf-gap{
        width: 46.74%;
    }
}
@media (max-width: 480px){
    .simple-folio .sf-container .sf-mix{
        margin: 0;
    }
    .simple-folio .sf-container .sf-mix,
    .simple-folio .sf-container .sf-gap{
        width: 100%;
    }
}

/*
* Detail page
*/

.simple-folio .sf-row{
    margin-left: 15px;
    margin-right: 15px;
}
.simple-folio .sf-col-img{
    width: 100%;
    float: left;
}
.simple-folio .sf-col-article{
    padding: 40px 0;
    width: 100%;
    float: left;
}
.simple-folio .sf-content{
    width: 57%;
    margin-right: 3%;
    float: left;   
}
.simple-folio .sf-features{
    width: 40%;
    float: left;
}
.simple-folio .sf-img-responsive{
    width: 100%;
    height: auto;
}
.simple-folio .sf-title{
    line-height: 18px;
    font-size: 25px;
    font-weight: bold;
    color: #2f2f2f;
    margin: 0;
}
.simple-folio .sf-caption{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #898989;
}
.simple-folio .sf-detail{
    font-size: 14px;
    font-weight: 300;
    color: #2f2f2f;
    padding-bottom: 10px;
}
.simple-folio .sf-table{
    border: none;
    margin-top: 10px;
}
.simple-folio .sf-table td{
    font-size: 14px;
    font-weight: 300;
    color: #2f2f2f;
    border-right: none;
    border-bottom: 1px solid #d7d9d8;
    padding: 10px 10px 10px 0;
}

@media (max-width: 992px){
    .simple-folio .sf-col-img,
    .simple-folio .sf-col-content{
        width: 100%;
        padding: 0;
        float: none;
    }
}
@media (max-width: 767px){
    .simple-folio .sf-col-img,
    .simple-folio .sf-col-content{
        width: 100%;
    }
    .simple-folio .sf-content,
    .simple-folio .sf-features {
        float: none;
        width: 100%;
    }
    .simple-folio .sf-content {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
.sf-clear {
    clear: both;
}